@charset "utf-8";
/* CSS Document */
body,div,p,ul,ol,li,dl,dt,dd,table,tr,td,form,hr,h1,h2,h3,h4,h5,h6,img,input{
    margin:0;
    padding:0;
}
*{
    box-sizing: border-box;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}
body{
    font-family:"微软雅黑",Arial;
    
}
a{
    text-decoration:none;
}
ul,ol{
    list-style:none;
}
.Max{ a{
                    color: #222222;
                }
    .smll{
        li{
            display: inline-block;
            width: 30%;
            margin-left: 20px;
            margin-top: 50px;
            img{
                width: 100%;
            }
            .bbb{
            position: relative;
            }
            .p1{
                text-align: left;
                font-size: 18px;
                color: #222222;
                margin: 6px 0;
                width: 60%;
                line-height: 28px;
                span{
                    position: absolute;
                    top: 0px;
                    right: 8px;
                    font-size: 13px;
                    color: #808387;
                }
                h3{
                    margin:5px 0 ;
                    padding: 5px 5px 5px 0;
                    text-align: left;
                    overflow: hidden;
                }
            }
        }
    } 
}
@media screen and(max-width:800px){
  .smll{
      li{
            display:block!important;
            width: 30%!important;
            text-align: left;
            margin:30px auto;
            margin-left: 200px;
        } 
  }  
}     