@charset "utf-8";
/* CSS Document */
body,div,p,ul,ol,li,dl,dt,dd,table,tr,td,form,hr,h1,h2,h3,h4,h5,h6,img,input{
    margin:0;
    padding:0;
}
*{   
    box-sizing: border-box;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}
body{
    font-family:"微软雅黑",Arial;
    
}
a{
    text-decoration:none;
}
ul,ol{
    list-style:none;
}
footer{
 width: 100%;
    padding: 20px 40px;
    margin: 0 auto;
    clear: both;
    color: #f9f9f9;
    font-size: 12px;
    background-color: #222;
    margin-top: 100px;
    .of{
          overflow: auto;
      } 
  .f1{ 
            
       p{
          font-size: 14px;
            color: #c99a05;
            margin-bottom: 10px;
            letter-spacing: 10px;
         }
      .f1-1{
        
          float: left;
              margin-bottom: 32px;
      .tc{
          margin-right: 70px;
          line-height: 1.67;
      }
      }
      .f1-2{
           margin-bottom: 32px;
          float: left;
          img{
              width: 80px;
            height: 80px;
            display: inline-block;
            vertical-align: middle;
            -moz-background-size: 100% 100%;
            background-size: 100% 100%;
            margin-right: 10px;
          }
          .xz{
              display: inline-block;
              vertical-align: middle;
              a{
                  color: #FFFFFF;
                  padding: 6px 24px;
                border: 1px solid #f9f9f9;
                margin-bottom: 10px;
                display: block;
              }
          }
      }
      .f1-3{
          float: right;
      }
     
  }
  .f2{
       overflow: auto;
        color: #85888a;
        .footer-left{
              float: left;
          }
       .slash-list {
         display: inline-block;
         margin-left: 10px;
         }
      a {
    color: inherit;
    text-decoration: none;
    outline: 0;
}

.slash-list .slash-item:before {
    content: '/';
    color: #E0E0E0;
    font-size: 12px;
    margin: 0 10px;
}
.footer-right {
    float: right;
}
  }
}
